
body {
  font-family: 'Lato', sans-serif;
  background-color: #829CD0;
}

h1 {
  color: #865F3C;
  margin-top: 20px;
  font-weight: 300;
}

h2 {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 30px;
  color: #906666;
}

/*************/
/*    FORM   */
/*************/

.form{
  display: inline-block;
  padding-right: 5px;
}

.form-inline {
  margin-bottom: 10px;
}

.form-control {
  background: #EBEBEB;
  border: 1px solid #829CD0;
  width: 250px;
}

.form-group {
  padding-right: 4px;
}

.form-group label {
  font-weight: 400;
  margin-right: 10px;
}

.form-inline button, .btn-link:active {
  border-left: 1px solid #888;
  margin-left: 15px;
  padding-left: 15px;
  color: #333;
  cursor: pointer;
  outline: none;
}
.form-inline button:hover, .btn-link:active, .btn-link:focus  {
  border-left: 1px solid #888;
  color: #8E7060;
  text-decoration: none;
  outline: none;
}
.form-inline button .glyphicon {
  margin-right: 5px;
}

svg#canvas2{
  background-image: url(map.jpg);
}

svg#canvas{
  background-image: url(map2.jpg)
}

.hidden{
  display: none;
}
.show{
  display: block;
}
#bttn{
  display: inline-block;
}
#offCampus{
  margin: auto;
  width: 1030px;
}
#onCampus{
  margin: auto;
  width: 1030px;
}
.tip-desc {
  color: lightgray;
  line-height: 8px;
  font-size: 12px;
  font-weight: normal;
}
#carouselExampleIndicators {
  margin-top: 10px;
}
#main {
  box-shadow: 10px 10px 25px 0px rgba(99,99,99,1);
  background-color: white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
}
#locationField {
  margin-bottom: 1rem;
}
#reportHeader {
  padding-top: 20px;
}
#reportSubmit {
  margin-bottom: 20px;
}
.no-shadow {
  box-shadow: none;
}

